@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Onest:wght@300&display=swap');

:root {
  --main: #d8a109; /* kulta */
  --hover: #FAE6A0;
  --text: #292c35;
  --background: #f0f0f0;
  --border: #ccc;
  --boxShadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  --textShadow: 1px 1px 2px #292c35;
}

:root.dark {
  --text: #f0f0f0;
  --hover: #B8860B;
  --background: #292c35;
}

body {
  background-color: var(--background);
  font-family: 'Onest', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  align-items: center;
}

#openModal {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2em;
}

h1 {
  padding: 0 1em 0 1em;
  font-size: 3em;
  color: var(--main);
  font-weight: bold;
  text-shadow: var(--textShadow)
}

h2 {
  padding: 0 2em;
  color: var(--text);
}

h4 {
  color: var(--text);
}

.sort {
  background-color: var(--main);
  border: none;
  border-radius: 5px;
  color: var(--text);
  font-weight: bold;
  padding: 0.5em 1em;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: var(--boxShadow);
  font-family: 'Onest', sans-serif;
  margin: 0.2em;
}

.sort:hover {
  background-color: var(--hover);
}

#myDialog {
  border: 1px solid var(--border);
  border-radius: 5px;
  width: 60%;
  margin: auto;
  padding: 1em;
  background-color: var(--background);
  z-index: 1000;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

.highlight, table tr:hover {
  font-weight: bold;
  background-color: var(--main);
}

table {
  border-spacing: 0;
  padding: 1em;
  width: 100%;
  margin: auto;
  border-collapse: separate;
}

#myDialog h3 {
  color: var(--main);
}

#myDialog p {
  color: var(--text);
}

th {
  border-bottom: 1px solid var(--border);
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
  background-color: var(--main);
  color: var(--text);
  text-transform: uppercase;
}

table tr {
  transition: background-color var(--main) 0.3s;
}

td {
  border-bottom: 1px solid var(--border);
  padding: 0.5em 1em;
  color: var(--text);
}

#myDialog button {
  background-color: var(--main);
  border: none;
  border-radius: 5px;
  color: var(--text);
  font-weight: bold;
  padding: 0.5em 1em;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: var(--boxShadow);
  font-family: 'Onest', sans-serif;
  margin: 0.2em;
}



/* login */
#formDialog {
  border: 1px solid var(--border);
  border-radius: 10px;
  width: 18em;
  margin: auto;
  padding: 2em;
  background-color: var(--background);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form input {
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  border: 1px solid var(--border);
  border-radius: 5px;
}

.btnTog {
  display: flex;
  justify-content: center;
}

#form button {
  padding: 0.8em 1.3em;
  background-color: var(--main);
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1em;
}

#form button:hover {
  background-color: var(--hover);
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }

  table {
    font-size: 0.8em;
  }

  #myDialog {
    width: 90%;
  }

  #napit {
    padding: 0 0.5em 0.5em 1em;
  }
}

@media only screen and (max-width: 480px) {
  header {
    align-items: flex-end;
  }

  #openModal {
    font-size: 1.5em;
  }

  .sort {
    padding: 0.3em 0.6em;
  }
}

@media only screen and (max-width: 380px) {
  #myDialog {
    width: 100%;
    height: 90vh;
  }

  table {
    padding: 0;
  }

  th {
    width: 100%;
  }

  td {
    padding: 0.5em;
  }

  dialog::backdrop {
    backdrop-filter: blur(2px);
  }

}
